@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Noto+Sans:wght@700&family=Pacifico&display=swap');


body {
  margin: 0;
  font-family: 'Gentium Book Plus', serif;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEEEEE;
}

code {
  font-family: 'Gentium Book Plus', serif;
  font-family: 'Noto Sans', sans-serif;
}

.homeImg {
  border-radius: 50%;
  object-fit: cover;
}
.cartNavCart {
  width: 500px;
  padding: 20px;
}

.navLogo {
  height: 50x;
  width: 50px;
}

.navLogo:hover {
  cursor: pointer;
}

.cartItemContainer {
  margin-top: 40px;
  margin-bottom: 40px;
}

.cartNavItems{
  max-height: 1000px;
  overflow-y: scroll;
}


.side-menu .MuiMenuItem-root{
  padding: 1em;
  margin-bottom: 1em;
  
}

.side-menu .MuiMenuItem-root.active {
  background-color: rgba(0, 0, 0, 0.04);
  font-weight: bold;
}

.side-menu .MuiMenuItem-root a {
  text-decoration: none;
}

@media (min-width: 900px) {
  .side-menu {
      justify-content: 'stretch';
  }

  .side-menu .MuiPaper-root{
      height: 100%;
  }

}

  .carousel-card.MuiPaper-root {
      background-color: transparent;
  }

.MuiGrid-root.carousel-card-container {
    max-width: 300px;
    margin: auto;
}

.carousel-card-img {
  height: 300px;
  width: 300px;
}


.MuiGrid-root.card-container {
  max-width: 300px;
  margin: auto;
}

.background-box {
  position: absolute;
  width: 35%;
  height: 100vh;
  max-height: 800px;
  top: 0;
  z-index: -1;
}

.background-box.right {
  right: 0;
}

.logo {
  max-width: 150px;
}

.adNavLink {
  color: #EEEEEE;
}

.coffeeDetailImg {
  width: 100%;
}

.coffeeDetailPrice {
  position: relative;
}

.MuiButton-root.btn {
  min-width: 200px;
  padding: 10px;
  font-weight: bold;
}
.MuiButton-root.MuiButton-outlinedInfo.btn:hover,
.MuiButton-root.MuiButton-outlinedInfo.btn:active {
  background-color: rgb(41 17 8 / 36%);
}

.MuiButton-root.btn.btn-lg {
  position: fixed;
  transform: none;
  right: 0;
  z-index: 1;
  min-width: 300px;
  padding: 18px;
  border-radius: 500px;
  margin: 10px;
}

.MuiButton-root.btn.btn-lg.btn-100 {
  width: 100%;
}

@media (max-width: 900px) {
  .MuiButton-root.btn.btn-lg.btn-checkout {
    min-width: 100%;
  }
}

.MuiButtonGroup-root .btn {
  padding: 20px;
  min-width: 50%;
}

.detailImgContainer{
  width: 100%;
}

.coffeeDetailImg {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.coffeeDetailName{
  padding-bottom: 1.6rem;
}

.coffeeDetailCalories {
  color: hsla(0,0%,100%,.7)
}

.coffeeDetailPrice {
  padding-top: 1.6rem;
}

.cartItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cartCardImg {
  width: 100px;
  height: 150px;
  object-fit: cover;
}

.img-responsive {
  width: 100%;
}

.form {
  text-align: center;
  padding: 2em;
}

.completed {
  color: 'green';
}